a*~
._*
.DS_Store
*.iml
.idea/
node_modules
npm-debug.log
*.xcuserdatad
*.xcworkspace
obj
bin
bld
debug
*.user
*.suo
.ntvs_analysis.dat
.codekit-cache
.sass-cache
*.scssc
*.css
!docs/**/*.css
*.css.map
/client/platforms/**
client/platforms
client/plugins
/client/tests/ui/reports/**
/client/tests/ui/*.log
/client/www/bundle/**
/client/www/partials/templates.js

*.map
_replicator
_users
binarydb
log.txt
skimdb
pouch*
test-results.xml
cobertura-coverage.xml
